# Exploratory Data Analysis
---

<a id="learning-objectives"></a>
## Learning Objectives
*After completing this notebook, you will be able to:*

- Define what Pandas is and how it relates to data science.
- Manipulate Pandas `DataFrames` and `Series`.
- Filter and sort data using Pandas.
- Manipulate `DataFrame` columns.
- Understand the different kinds of missing data, and know how to handle null and missing values.

## Contents:
* [Introduction to Pandas](#pandas-intro)
* [Dataframe methods](#dataframe-methods)
* [Setting Dataframe values](#setting-values)
* [Selecting columns](#selecting-cols)
* [Transforming columns](#transforming-cols)
* [Selecting rows](#selecting-rows)
* [Sorting data](#sorting-data)
* [Summary stats](#summary-stats)

<a id="pandas-intro"></a>

# <font color='blue'> Introduction to Pandas

Pandas is a Python library that primarily adds two new datatypes to Python: `DataFrame` and `Series`.

- A `Series` is a sequence of items, where each item has a unique label (called an `index`).
- A `DataFrame` is a table of data. Each row has a unique label (the `row index`), and each column has a unique label (the `column index`).
- Note that each column in a `DataFrame` can be considered a `Series` (`Series` index).

Behind the scenes, these datatypes use the `numpy` (numerical Python) library. NumPy primarily adds the `ndarray` (n-dimensional array) datatype to Pandas. An `ndarray` is similar to a Python list, in that it stores ordered data. However, it differs in three respects:

* Each element has the same datatype (typically fixed-size, e.g., a 32-bit integer).
* Elements are stored contiguously (immediately after each other) in memory for fast retrieval.
* The total size of an `ndarray` is fixed.

Storing `Series` and `DataFrame` data in `ndarray`s makes Pandas faster and uses less memory than standard Python datatypes. Many libraries (such as scikit-learn) accept `ndarray`s as input rather than Pandas datatypes, so we will frequently convert between them.


## Using Pandas

Pandas is frequently used in data science because it offers a large set of commonly used functions, is relatively fast, and has a large community. Because many data science libraries also use NumPy to manipulate data, you can easily transfer data between libraries (as we will often do in this class!).

Pandas is a large library that typically takes a lot of practice to learn. 

It heavily overrides Python operators, resulting in odd-looking syntax. For example, given a `DataFrame` called `cars` which contains a column `mpg`, we might want to view all cars with mpg over 35. To do this, we might write: `cars[cars['mpg'] > 35]`. 

In standard Python, this would most likely give a syntax error.  

Pandas also highly favors certain patterns of use. 

For example, looping through a `DataFrame` row by row is highly discouraged. 

Instead, Pandas favors using **vectorized functions** that operate column by column. (This is because each column is stored separately as an `ndarray`, and NumPy is optimized for operating on `ndarray`s.)

Do not be discouraged if Pandas feels overwhelming. Gradually, as you use it, you will become familiar with which methods to use and the "Pandas way" of thinking about and manipulating data.

---
## <font color='red'> Now you try
    
Today we'll be working with a dataset on the gender pay gap across companies in the UK. 

Let's start by downloading the dataset and converting it to a Pandas `DataFrame`.

1. Use the `read_csv()` Pandas function to read in two files from the `Data` directory (which is inside the directory this notebook is in). 

The files have been downloaded from https://gender-pay-gap.service.gov.uk/viewing/download. Here's how you should load each of them in:

* `UK Gender Pay Gap Data - 2019 to 2020.csv`; read this in as a DataFrame called `pay_gap_2019_20`
    
* `UK Gender Pay Gap Data - 2018 to 2019.csv`; read this in as a DataFrame called `pay_gap_2018_19`


2. Use the `head` command on `pay_gap_2019_20` to visually inspect the data. What's strange about it? Use `read_csv()` again but try playing around with the `header` parameter (e.g. `read_csv(header=5)`) until the final DataFrame looks right. What does the `header` parameter do?


3. Continue to inspect `pay_gap_2019_20` visually and figure out:

    
* What the data contains
 
* What each column corresponds to
    
* What each row corresponds to
    

3. Use `shape` to figure out how many rows are in `pay_gap_2019_20` and `pay_gap_2018_19`. Use the Gender Pay Gap Service website to explain why there's a difference in size



4. List as many potential data quality issues as you can in `pay_gap_2019_20`

---

<a id="dataframe-methods"></a>

# <font color='blue'> DataFrame Methods and Attributes

We've seen that Pandas `DataFrame` is perhaps the most important class of object in Pandas, and comes with a set of attributes (or properties) and methods that can be applied specifically to Pandas ``DataFrames``. 

We start by importing ``pandas`` and reading in a CSV file using the ``read_csv`` function. The ``header=2`` parameter specifies that the column names are in row ``2`` of the underlying CSV file.

We preview the first five rows of the ``DataFrame`` using the ``head`` method.

In [ ]:
pay_gap_2019_20 = pd.read_csv('./data/UK Gender Pay Gap Data - 2019 to 2020.csv')
pay_gap_2019_20.head()

In [ ]:
pay_gap_2019_20.head()

We can access the index, which is a numbering system that labels each row with a unique number according to its position in the DataFrame (like indexing in a list)

In [ ]:
pay_gap_2019_20.index

We can also quickly access the column names

In [ ]:
pay_gap_2019_20.columns

The ``shape`` attribute is a good way of figuring out how big our dataset is

In [ ]:
pay_gap_2019_20.shape

We can confirm that our ``DataFrame`` is the correct type

In [ ]:
type(pay_gap_2019_20)

## Checking data types

We can check the types of data in individual columns. **But first, we need to deliberately engineer a problem with our data by runnng the cell below**

In [ ]:
pay_gap_2019_20 = pay_gap_2019_20.astype({'DiffMedianHourlyPercent': 'str',
                                         'DiffMeanBonusPercent': 'str',
                                         'DiffMeanHourlyPercent':'str'})

Now we can check the types using `dtypes()`

In [ ]:
pay_gap_2019_20.dtypes

We can see that most of the columns in our dataset are ``float64``, i.e. floating point or **decimal** numbers.

But we can also see that the `DiffMeanHourlyPercent`, `DiffMedianHourlyPercent` and `DiffMeanBonusPercent` columns are **not** a numeric type. If a column in a DataFrame contains a mix of types, Pandas labels its type as `object`.

Since we want Pandas to treat these columns as numeric columns, we need to convert it using the `to_numeric` function.

In [ ]:
pay_gap_2019_20['DiffMeanHourlyPercent'] = pd.to_numeric(pay_gap_2019_20['DiffMeanHourlyPercent'])

Now when we run `dtypes` again, we can see the `DiffMeanHourlyPercent` column has a numeric type.

In [ ]:
pay_gap_2019_20.dtypes

That leaves the `DiffMedianHourlyPercent` and `DiffMeanBonusPercent` columns to convert. Instead of running `to_numeric()` two more times, it's more efficient to convert multiple columns to different types using the `astype` method.

**Note that the information we give Pandas about which columns to convert, and which types to convert them to, is formatted as a dictionary**

In [ ]:
pay_gap_2019_20 = pay_gap_2019_20.astype({'DiffMedianHourlyPercent': 'float64',
                                         'DiffMeanBonusPercent': 'float64'})

Running `dtypes` a final time, we see that all the columns in our DataFrame are of the correct type.

In [ ]:
pay_gap_2019_20.dtypes

<a id="setting-values"></a>

# <font color='blue'> Setting values in a DataFrame

To change the value of a single element in a DataFrame, we use the `at` method.

We pass it the position of the element we want to set the value of, in the format `[index,column_name]`

In [ ]:
pay_gap_2019_20.at[0,'EmployerName'] = 'test value'

In [ ]:
pay_gap_2019_20.head()

<a id="selecting-cols"></a>

# <font color='blue'> Selecting columns

Pandas DataFrames have structural similarities with Python-style lists and dictionaries. We can select, or extract, columns from a `DataFrame` using column names.



In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
pay_gap_2019_20['EmployerName']

The result is a Pandas **series**. We can think of this as being the Pandas equivalent of a list.

In [ ]:
type(pay_gap_2019_20['EmployerName'])

We can also select a single column using this syntax

In [ ]:
pay_gap_2019_20[['EmployerName']]

The result is a DataFrame

In [ ]:
type(pay_gap_2019_20[['EmployerName']])

We can select multiple columns using this syntax too.

In [ ]:
pay_gap_2019_20[['EmployerName','Address']]

A neater way of doing it could be using this syntax, which does exactly the same thing.

In [ ]:
columns_to_select = ['EmployerName','Address']  
pay_gap_2019_20[columns_to_select]

<a id="transforming-cols"></a>

# <font color='blue'> Transforming columns
    
Once we've selected columns, we can perform transformations on them (e.g converting an entire column to lowercase) or calculations with them (e.g. adding two columns together to create a new column).

## Changing column names

There are a few different ways to change column names. 

### Renaming individual columns

Individual column names can be changed like this. We could add as many columns as we wanted to the dictionary below, in the format `{'old_column_name':'new_column_name'}`

`rename` is by default **not** an **in place** method, i.e. it doesn't change the underlying DataFrame. In order to make methods **in place** we need to add an extra input to the `rename` method; `inplace=True`

In [207]:
pay_gap_2019_20.rename(columns={'Address':'EmployerAddress'},inplace=True)

Now we can see the column has been renamed

In [ ]:
pay_gap_2019_20.head(2)

### Renaming all columns

It's also possible to rename **all** the columns in a DataFrame using the syntax

``DataFrame.columns = [full list of new column names]``

---

## <font color='red'> Now you try
    
1. Use pandas to read in the file `country_demographics.csv` from the `data` folder, as a DataFrame called `county_data`. 


2. Visually inspect the DataFrame. What's the main problem with this data?


3. Luckily, we have a data dictionary that can help us below! Below is some pre-written code that loads in our data dictionary as a DataFrame, then converts it to a dictionary.

You'll see that the dictionary translates the column names in `county_data` to longer names. Use this dictionary to rename the columns in `county_data` formatted in **snake case** i.e. so each column is in lowercase, with words separated by an underscore. For example, the column titled `PST045214` in `county_demographics` should be renamed as `population_2014_estimate`.

**There are more and less efficient ways of completing this task. Try to go for the method that's smart but lazy. Hint: it might involve a `for` loop around the dictionary, and the `.lower()` and `join()` string methods...**

4. Figure out how to use the `to_csv()` method to save the DataFrame with renamed columns as a file called `county_data_clean.csv`. Make sure the file is saved in the `data` directory in this folder.

In [221]:
county_data_dictionary = pd.read_csv('./data/county_facts_dictionary.csv').to_dict('records')
county_data_dictionary

[{'column_name': 'PST045214', 'description': 'Population 2014 estimate'},
 {'column_name': 'PST040210',
  'description': 'Population 2010 April 1 estimates base'},
 {'column_name': 'PST120214',
  'description': 'Population percent change  April 1 2010 to July 1 2014'},
 {'column_name': 'POP010210', 'description': 'Population 2010'},
 {'column_name': 'AGE135214',
  'description': 'Persons under 5 years percent 2014'},
 {'column_name': 'AGE295214',
  'description': 'Persons under 18 years percent 2014'},
 {'column_name': 'AGE775214',
  'description': 'Persons 65 years and over percent 2014'},
 {'column_name': 'SEX255214', 'description': 'Female persons percent 2014'},
 {'column_name': 'RHI125214', 'description': 'White alone percent 2014'},
 {'column_name': 'RHI225214',
  'description': 'Black or African American alone percent 2014'},
 {'column_name': 'RHI325214',
  'description': 'American Indian and Alaska Native alone percent 2014'},
 {'column_name': 'RHI425214', 'description': 'Asian alone percent 2014'},
 {'column_name': 'RHI525214',
  'description': 'Native Hawaiian and Other Pacific Islander alone percent 2014'},
 {'column_name': 'RHI625214', 'description': 'Two or More Races percent 2014'},
 {'column_name': 'RHI725214',
  'description': 'Hispanic or Latino percent 2014'},
 {'column_name': 'RHI825214',
  'description': 'White alone not Hispanic or Latino percent 2014'},
 {'column_name': 'POP715213',
  'description': 'Living in same house 1 year & over percent 20092013'},
 {'column_name': 'POP645213',
  'description': 'Foreign born persons percent 20092013'},
 {'column_name': 'POP815213',
  'description': 'Language other than English spoken at home pct age 5plus 20092013'},
 {'column_name': 'EDU635213',
  'description': 'High school graduate or higher percent of persons age 25plus 20092013'},
 {'column_name': 'EDU685213',
  'description': "Bachelor's degree or higher percent of persons age 25plus 20092013"},
 {'column_name': 'VET605213', 'description': 'Veterans 20092013'},
 {'column_name': 'LFE305213',
  'description': 'Mean travel time to work minutes workers age 16plus 20092013'},
 {'column_name': 'HSG010214', 'description': 'Housing units 2014'},
 {'column_name': 'HSG445213', 'description': 'Homeownership rate 20092013'},
 {'column_name': 'HSG096213',
  'description': 'Housing units in multiunit structures percent 20092013'},
 {'column_name': 'HSG495213',
  'description': 'Median value of owneroccupied housing units 20092013'},
 {'column_name': 'HSD410213', 'description': 'Households 20092013'},
 {'column_name': 'HSD310213', 'description': 'Persons per household 20092013'},
 {'column_name': 'INC910213',
  'description': 'Per capita money income in past 12 months 2013 dollars 20092013'},
 {'column_name': 'INC110213',
  'description': 'Median household income 20092013'},
 {'column_name': 'PVY020213',
  'description': 'Persons below poverty level percent 20092013'},
 {'column_name': 'BZA010213',
  'description': 'Private nonfarm establishments 2013'},
 {'column_name': 'BZA110213',
  'description': 'Private nonfarm employment  2013'},
 {'column_name': 'BZA115213',
  'description': 'Private nonfarm employment percent change 20122013'},
 {'column_name': 'NES010213',
  'description': 'Nonemployer establishments 2013'},
 {'column_name': 'SBO001207', 'description': 'Total number of firms 2007'},
 {'column_name': 'SBO315207', 'description': 'Blackowned firms percent 2007'},
 {'column_name': 'SBO115207',
  'description': 'American Indian and Alaska Nativeowned firms percent 2007'},
 {'column_name': 'SBO215207', 'description': 'Asianowned firms percent 2007'},
 {'column_name': 'SBO515207',
  'description': 'Native Hawaiian and Other Pacific Islanderowned firms percent 2007'},
 {'column_name': 'SBO415207',
  'description': 'Hispanicowned firms percent 2007'},
 {'column_name': 'SBO015207', 'description': 'Womenowned firms percent 2007'},
 {'column_name': 'MAN450207',
  'description': 'Manufacturers shipments 2007 $1000'},
 {'column_name': 'WTN220207',
  'description': 'Merchant wholesaler sales 2007 $1000'},
 {'column_name': 'RTN130207',
  'description': 'Retail sales 2007 thousands dollars'},
 {'column_name': 'RTN131207', 'description': 'Retail sales per capita 2007'},
 {'column_name': 'AFN120207',
  'description': 'Accommodation and food services sales 2007 $1000'},
 {'column_name': 'BPS030214', 'description': 'Building permits 2014'},
 {'column_name': 'LND110210', 'description': 'Land area in square miles 2010'},
 {'column_name': 'POP060210',
  'description': 'Population per square mile 2010'}]

---

## Creating new columns

We can create new columns by performing calculations on existing columns. Let's say we want to create a new column that gives the Difference in Mean Hourly Pay as a proportion rather than a percentage.

In [ ]:
pay_gap_2019_20['DiffMeanHourlyProportion'] = pay_gap_2019_20['DiffMeanHourlyPercent']/100

We can see the new column has been created at the end of the DataFrame.

In [ ]:
pay_gap_2019_20.head(2)

We can also create 'blank' new columns. We might want to do this if we're going to fill an empty column with new data.

We can create a column of empty strings...

In [ ]:
pay_gap_2019_20['empty_string_column'] = ''

Or a column full of zeroes...

In [ ]:
pay_gap_2019_20['zeroes_column'] = 0

Or a column that goes up in steps of 1

In [ ]:
pay_gap_2019_20['counting_column'] = range(0,pay_gap_2019_20.shape[0])

The new columns have been created at the end of the DataFrame.

In [ ]:
pay_gap_2019_20.head()

## Removing columns

We can use the `drop` method to do this. Once again, unless we specify that the method is `inplace` the underlying DataFrame won't be changed.

In [ ]:
pay_gap_2019_20.drop(columns=['DateSubmitted','DueDate'],inplace=True)
pay_gap_2019_20.head()

## Applying functions to columns

Sometimes we'll want to perform a calculation or operation on each row of a DataFrame column. There are a few different ways to do this.

### Vectorised functions

In Pandas it's discouraged to loop through all the rows in a DataFrame, applying a function or operation to each row. 

Vectorised functions, which quickly apply a function to an entire column without having to explicitly write a loop, are much faster and more efficient. 

Here are some examples.

We can convert columns to lowercase.

In [ ]:
pay_gap_2019_20['EmployerName'] = pay_gap_2019_20['EmployerName'].str.lower()

In [ ]:
pay_gap_2019_20.head(2)

We can replace strings. This can be used to remove strings, too by replacing them with a blank space or `''`

In [ ]:
pay_gap_2019_20['EmployerName'] = pay_gap_2019_20['EmployerName'].str.replace('limited','')

In [ ]:
pay_gap_2019_20.head(2)

### The `apply` method and lambda functions

Sometimes we'll want to perform more complex operations on each row of a DataFrame column. 

If there isn't a built-in DataFrame method for what we want to do, we can write our own function and then apply it to each row of the column using the `.apply()` method.

Let's say I want to create a new column that contains the first name of the `ResponsiblePerson` in the data.

We want to apply the `split()` function to each row of the `ResponsiblePerson` column, take the first value of the result and record this in a new column.

Let's remind ourselves of what `split()` does:

In [ ]:
'hello world'.split()

In [ ]:
'hello-world'.split('-')

In [ ]:
'0 to 100'.split('to')

Let's use the `apply` DataFrame method to apply `split()` to each row of the `ResponsiblePerson` column, creating a new column called `ResponsiblePersonFirstName`.

The input to `apply` is the function we want to apply to each row. We can define the function elsewhere and call it inside `apply` via a **lambda** function. This is a quick, throwaway method of writing a function; you don't need to worry too much about these just yet.

In [ ]:
def get_firstname(x):
    
    return  x.split()[0]

pay_gap_2019_20['ResponsiblePersonFirstName'] = pay_gap_2019_20['ResponsiblePerson'].apply(lambda x: get_firstname(x))

In [ ]:
pay_gap_2019_20.head()

### `for` loops (the ugly way to do it)

If you really need to, it's also possible to iterate through every row of a DataFrame using the `iterrows` method.

Let's take a look at how it works. It's a bit like iterating through the elements of a list, except we're iterating through the rows of the DataFrame; each iteration changes the value of `row` (which is the entire current row of the DataFrame) and `idx` (which is the index of the current row)

In [ ]:
for idx, row in pay_gap_2019_20.iterrows():
    
    print(idx)
    print(row)

Let's say we want to use this syntax to pick out the **last** names of the people in the `ResponsiblePerson` column. We could do it like this:

In [ ]:
for idx, row in pay_gap_2019_20.iterrows():
    
    split_name = row['ResponsiblePerson'].split()
    
    if len(split_name)>=2:
        pay_gap_2019_20.at[idx,'ResponsiblePersonLastName'] = split_name[1]
    else:
        pay_gap_2019_20.at[idx,'ResponsiblePersonLastName'] = 'None'

In [ ]:
pay_gap_2019_20.head()

---
## <font color='red'> Now you try
    
1. Using **two** existing columns in `county_data`, work out an estimate of the area of each county in square miles. Store these estimates in a new column called `approximate_area`. What are the units? 


2. Create a new column that calculates the **difference** or **error** between your estimates of area, and the actual values in the `land_area_in_square_miles_2010` column.


3. Figure out how to use the `sum()` method to work out the total area of all counties in the dataset.


4. Figure out how to use the `mean()` method to work out the mean population across all counties.


5. Calculate a new column called `predicted_population_2018` that estimates the 2018 population of each county, assuming the same growth rate in population seen between 2010 and 2014.
---

<a id="selecting-rows"></a>

# <font color='blue'> Selecting rows

## Selecting rows by index

We can use the `loc` command to pick out a specific row of a DataFrame.

We use the syntax `loc[a,b]` where `a` is the index of the row we want to access, and `b` is the name of the column. 

As with lists, `:` means 'give me everything' so in this example below, we're accessing the **first** row of data and **all** the columns.

In [ ]:
pay_gap_2019_20.loc[0,:]

We can specify a **range** of rows we want to extract. This gives us rows **0** to **2** **inclusive of row 5** and all the columns.

In [ ]:
pay_gap_2019_20.loc[0:2,:]

We can specify rows and single columns, too.

In [ ]:
pay_gap_2019_20.loc[0:2,'EmployerName']

Or the rows we want plus the list of columns we want.

In [ ]:
pay_gap_2019_20.loc[0:2,['EmployerName','EmployerAddress']]

Or, the rows we want and the **range** of columns we want (notice the `:` operator again)

In [ ]:
pay_gap_2019_20.loc[0:2,'EmployerName':'SicCodes']

## Selecting rows using logical tests

Often we won't know the exact index of the row we're looking for. 

Maybe we want to find all the rows where the `DiffMedianHourlyPercent` is greater than 10%.

We start by writing a **filter** or a logical test that will be `True` for the rows we're interested in. 

We're interested in the `DiffMedianHourlyPercent` column so our filter looks like this:

In [ ]:
pay_gap_filter = pay_gap_2019_20['DiffMedianHourlyPercent']>10

When we inspect this filter, we can see it's a long list of `True` and `False` values; the value of the filter is `True` for rows that pass the logical test and `False` for rows that don't.

In [ ]:
pay_gap_filter

Now we **apply** our filter to our DataFrame

In [ ]:
pay_gap_2019_20[pay_gap_filter]

We can also write and apply our filter in a single step

In [ ]:
pay_gap_2019_20[pay_gap_2019_20['DiffMedianHourlyPercent']>10]

It's also possible to combine logical tests using `and` and `or` operators. For example, to find all rows where `DiffMedianHourlyPercent` is greater than 10% **and** `DiffMeanHourlyPercent` is greater than 10%, we can write:

**Note that the `and` operator here is written as `&`**

In [ ]:
pay_gap_filter_2 = (pay_gap_2019_20['DiffMedianHourlyPercent']>10) & (pay_gap_2019_20['DiffMeanHourlyPercent']>10)

pay_gap_2019_20[pay_gap_filter_2]

Similarly, to find all rows where `DiffMedianHourlyPercent` is greater than 10% **or** `DiffMeanHourlyPercent` is greater than 10%, we can write:

**Note that the `or` operator here is written as `|`**

In [ ]:
pay_gap_filter_3 = (pay_gap_2019_20['DiffMedianHourlyPercent']>10) | (pay_gap_2019_20['DiffMeanHourlyPercent']>10)

pay_gap_2019_20[pay_gap_filter_3]

We can also use the ``str.contains()`` method to find all rows that contain a particular string.

In [ ]:
pay_gap_filter_4 = pay_gap_2019_20['EmployerName'].str.lower().str.contains('school')

pay_gap_2019_20[pay_gap_filter_4]

---
## <font color='red'> Now you try
    
1. How many counties are in Alabama?


2. What's the approximate total **number** of Hispanic/Latino people in Texas?


3. What's the mean per capita income in Kansas? 


4. What proportion of people in the USA live in counties where the median household income is less than $30,000?
---

<a id="sorting-data"></a>

# <font color='blue'> Sorting data
    
It's easy to sort data in ascending/descending order according to a particular column. We do this using the `sort_values` method.

In [ ]:
pay_gap_2019_20.sort_values(by='DiffMedianHourlyPercent',ascending=True)

---
## <font color='red'> Now you try
    
1. Which county has the lowest proportion of people with a bachelors degree?


2. Which county has the highest proportion of people living below the poverty level?


3. What are the top five counties with the highest proportion of old people?
---

<a id="summary-stats"></a>

# <font color='blue'> Summary statistics

Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding. 

The ``describe`` method gives summary statistics for the numeric columns in the data.

In [ ]:
pay_gap_2019_20.describe()

It's also possible to get summary statistics for all columns, including non-numeric ones.

In [ ]:
pay_gap_2019_20.describe(include='all')

<a id="value-counts"></a>
# <font color='blue'> Getting value counts

Sometimes we might want to see the breakdown of different values in a column. This is easy with the `value_counts` function.

In our gender dataset, let's check the breakdown of company sizes

In [ ]:
pay_gap_2019_20['EmployerSize'].value_counts()

And the ``plot`` method gives a visual representation of value counts, provided we import `matplotlib` first.

In [ ]:
import matplotlib.pyplot as plt

pay_gap_2019_20['EmployerSize'].value_counts().plot(kind='bar');
plt.xlabel('Company size');
plt.ylabel('Count');
plt.show()

<a id="groupby"></a>
# <font color='blue'> Grouping data

Sometimes we might want a more detailed breakdown using more than one column. To understand this a bit better, let's read in a CSV containing our stop and search data from last week.

In [214]:
police_dataframe = pd.read_csv('./data/stop_and_search_may_2019_london.csv')
police_dataframe.head()

,age_range,outcome,involved_person,self_defined_ethnicity,gender,legislation,outcome_linked_to_object_of_search,datetime,removal_of_more_than_outer_clothing,outcome_object,location,operation,officer_defined_ethnicity,type,operation_name,object_of_search
0,25-34,A no further action disposal,True,Asian/Asian British - Any other Asian background,Male,Misuse of Drugs Act 1971 (section 23),NaN,2019-05-01T14:09:00+00:00,NaN,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.530565', 'street': {'id': 960...",False,Other,Person search,NaN,Controlled drugs
1,over 34,Summons / charged by post,True,Black/African/Caribbean/Black British - African,Male,Misuse of Drugs Act 1971 (section 23),NaN,2019-05-01T14:05:00+00:00,NaN,"{'id': 'bu-summons', 'name': 'Summons / charge...","{'latitude': '51.530565', 'street': {'id': 960...",False,Black,Person search,NaN,Controlled drugs
2,over 34,A no further action disposal,True,Asian/Asian British - Pakistani,Male,Misuse of Drugs Act 1971 (section 23),NaN,2019-05-01T15:14:00+00:00,NaN,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.524521', 'street': {'id': 960...",False,Asian,Person search,NaN,Controlled drugs
3,18-24,A no further action disposal,True,Black/African/Caribbean/Black British - Any ot...,Male,Misuse of Drugs Act 1971 (section 23),NaN,2019-05-01T17:05:00+00:00,NaN,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.530361', 'street': {'id': 960...",False,Black,Person search,NaN,Controlled drugs
4,25-34,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),NaN,2019-05-01T15:14:00+00:00,NaN,"{'id': 'bu-no-further-action', 'name': 'A no f...","{'latitude': '51.524521', 'street': {'id': 960...",False,White,Person search,NaN,Controlled drugs

Let's use the `groupby` method to get a breakdown of the outcomes of searches, by gender.

In [215]:
police_dataframe.groupby('gender')['outcome'].value_counts()

gender  outcome
Female  A no further action disposal        37
        Arrest                               5
        Community resolution                 2
Male    A no further action disposal       370
        Arrest                              57
        Community resolution                43
        Penalty Notice for Disorder          9
        Caution (simple or conditional)      1
        Khat or Cannabis warning             1
        Summons / charged by post            1
Name: outcome, dtype: int64

We can use the `normalize` input to `value_counts` to transform the values into proportions.

In [216]:
police_dataframe.groupby('gender')['outcome'].value_counts('normalize')

gender  outcome
Female  A no further action disposal       0.840909
        Arrest                             0.113636
        Community resolution               0.045455
Male    A no further action disposal       0.767635
        Arrest                             0.118257
        Community resolution               0.089212
        Penalty Notice for Disorder        0.018672
        Caution (simple or conditional)    0.002075
        Khat or Cannabis warning           0.002075
        Summons / charged by post          0.002075
Name: outcome, dtype: float64

---
## <font color='red'> Now you try
    
In the Police dataset, can you use `value_counts` to get breakdowns of:

* The ethnicities of people who were stopped and searched


* The age brackets of people who were stopped and searched


* The 'object of search' (i.e. what officers were looking for)


* The outcomes of the search


* The proportion of people stopped who were men


Use a combination of `value_counts`, `groupby` and filtering skills to calculate:

* The proportion of people stopped who were 18-24 years old, broken down by gender


* The breakdown of reasons people were stopped, broken down by ethnicity


* The breakdown of the ages of people who were stopped, broken down by gender


---

## <font color='red'> Now you try
    
1. What's the breakdown of states, in counties where the median household income is equal to or below the **lower quartile value**? (hint: `describe()` will get you lower and upper quartiles)


2. How many people are living in counties where the median household income is equal to or below the lower quartile value?


3. What's the breakdown of states, in counties where the median household income is equal to or above the **upper quartile value**?



---

<a id="value-counts"></a>
# <font color='blue'> Handling missing values
    
Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing — it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). 

Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

**For the second row:** `None` will be stored in the "material" column and `np.NaN` will be stored in the "cost" column. The entire "cost" column (stored as a single `ndarray`) must be stored as floating-point values to accommodate the `np.NaN`, even though an integer `8` is in the first row.

Let's check our gender pay gap dataset for missing values.

We can do this using the `isnull()` method and summing up the values for each column.

In [ ]:
pay_gap_2019_20.isnull().sum()

We can choose to drop rows containing ``NaN`` values, or fill in ``NaN`` values with a string, float or other element of our choice. 

Be careful when doing either of these things; you could end up unintentionally removing rows, or filling in values that don't make sense or aren't accurate.

In this case, it would be important to clarify whether a ``NaN`` value in a particular column means the amount is zero, or whether it means the amount is unknown.

We can **fill in** NaN values with a value of our choice using `fillna()`. For example, it makes sense to fill in `CompanyLinkToGPGInfo` with a string like 'no URL provided'.

In [ ]:
pay_gap_2019_20['CompanyLinkToGPGInfo'].fillna('No URL',inplace=True)

We can now see that this column no longer has any missing values.

In [ ]:
pay_gap_2019_20['CompanyLinkToGPGInfo'].isnull().sum()

We might want to **drop** rows where there is no company number provided, since this means we won't be able to look up the company on Companies House.

In [ ]:
pay_gap_2019_20.dropna(subset=['CompanyNumber'],inplace=True)

Again, we can now see that there are no missing values in the `CompanyNumber` column.

In [ ]:
pay_gap_2019_20.isnull().sum()

---
## <font color='red'> Now you try

We'll be working with Twitter's election integrity dataset from October 2018, which consists of ~3million tweets from accounts suspected to be associated with overseas bot accounts.

Some of the code in these exercises is boilerplated (i.e. written for you), with gaps for you to fill in. 

Instructions are provided in the comments where this is the case.

## 1) Read in the data

Visit this URL, and enter your email address to access information about the datasets. Read a bit about which datasets are available by clicking on : https://transparency.twitter.com/en/information-operations.html

In particular, read the ``Readme`` file to understand the variables contained in each dataset.


We'll be downloading the tweets associated with the **Iran (October 2018) – 770 accounts** dataset. 

To do this, you should:

* Click on this URL, and download the resulting ZIP file to your computer.
https://storage.googleapis.com/twitter-election-integrity/hashed/iranian/iranian_tweets_csv_hashed.zip


* Unzip the contents of the file to the ``data`` directory inside the same directory as this notebook. 

The result should be a file called ``iranian_tweets_csv_hashed.csv`` in location ``./data/`` relative to this notebook.

In [ ]:
# let's read in the dataset- this might take a while because it's enormous!
# fill in the filepath here
tweet_df = pd.read_csv()

Preview the first 10 rows of the dataset using ``head``. What does each row correspond to?

## 2) Inspect the data

Look at the column names

Get the shape of the dataframe.

Use ``value_counts()`` to get summary counts for the language of the tweets and the location of the account.

Use ``describe`` to get a summary of the numeric columns in the data.

## 3) Filter out non-UK based accounts

Filter the data so that only tweets where ``user_reported_location`` is ``United Kingdom`` are included.

## 4) Remove columns

Keep only the following columns:

``tweetid,
follower_count,
user_screen_name,
following_count,
account_creation_date,
tweet_text,
tweet_time,
like_count,
retweet_count``


It's more efficient to do this by selecting columns using ``my_df[['col1','col2','col3']]`` notation rather than using ``my_df.drop(columns=[])`` since we want to drop many more columns than we want to keep.

## 4) How many unique accounts were purportedly tweeting from the UK?

`value_counts()` will come in useful here.

## 5) Convert columns to the pandas ``datetime`` type

Use the ``pd.to_datetime()`` function to convert the ``account_creation_date`` and ``tweet_time`` columns into the type ``datetime``. This is a type in ``pandas`` that allows dates to be treated like timestamps, so we can search by date, sort in chronological order etc.

Use ``dtypes`` to confirm that these columns are now ``datetime`` columns.

## 6) When was this account tweeting?

Use the ``hist()`` method to get a quick visualisation of the distribution of ``tweet_time``s

## 7) Did the account get many likes or retweets?

Use ``value_counts()`` and ``describe()`` on the ``like_count`` and ``retweet_count`` columns to gauge how successful you think this account was at propagating information.

## 8) What was this account tweeting about?

We can start to explore the contents of each tweet using some basic word count methods. This is much less advanced than the more involved natural language processing methods we'll be using later on in the course, but is a good start. 

Begin by using the ``str.lower()`` method to convert the ``tweet_text`` column to lowercase so we don't have to worry about case sensitivity, and also using ``str.replace()`` together with a **regular expression** to catch **all puncuation marks** and replace them with an empty string; this is the same thing as stripping out all punctuation.

Your code will look something like this:

In [ ]:
tweet_df['tweet_text'] = tweet_df['tweet_text'].str.lower().str.replace('[^\w\s]','')

Now use filtering and ``.str.contains()`` to find out what **percentage** of the tweets mention the following terms (remember we've converted everything to lowercase so your search terms need to be lowercase as well):

* obama
* brexit
* trump
* syria
* iran
* uk 
* russia

<a id="summary"></a>
# Summary

Believe it or not, we've only barely touched the surface of everything that Pandas offers. Don't worry if you don't remember most of it — for now, just knowing what exists is key. Remember that the more you use Pandas to manipulate data, the more of these functions you will take interest in, look up, and remember.

In this notebook, the most important things to familiarize yourself with are the basics:
- Manipulating `DataFrames` and `Series`
- Filtering columns and rows
- Handling missing values
- Value counts and Groupby