# Python Fundamentals solutions

---

---

## <font color='red'> Now you try

Take a look at the Python commands below. For each command, **before you run the cell**, predict:

* What the input to the command is
* What the output will look like 
* What the command is doing

The clue is often in the name of the command; don't overthink this exercise!

**It's always helpful to think of Python commands as having an input and an output; this helps us understand what's going on**

In [1]:
'CAPS LOCK MAKES IT SEEM LIKE IM SHOUTING'.lower()

'caps lock makes it seem like im shouting'

In [2]:
max([3,5,2,8])

8

---

## <font color='red'> Now you try

Insert new cells into this notebook to complete each of the following exercises.

1. Evaluate the following expressions: 
    
    (a) 7-15

In [3]:
7-15

-8

(b) $3^7+16/3$

In [4]:
(3**7) + (16/3)

2192.3333333333335

2. The following lines of code will result in error messages when you try to run them. Fix the code so it runs without errors:

In [5]:
print('hello world!') # needed consistent single or double quotes

hello world!

In [7]:
5 + int('3') # can't add a string to an integer; string needs to be converted

8

In [8]:
print("hello?") # need round brackets

hello?

---

## <font color='red'> Now you try

1. Declare the string "The quick brown fox jumped over the lazy dog" as a variable called ``mystring``, and write code to extract:

    (a) The following substring: "The quick brown fo"

In [12]:
mystring = "The quick brown fox jumped over the lazy dog"

mystring[0:18]

'The quick brown fo'

(b) The first character only

In [13]:
mystring[0]

'T'

(c) The last character only

In [14]:
mystring[-1]

'g'

(d) The substring "over the lazy dog"

In [16]:
mystring[27:]

'over the lazy dog'

2. Figure out what the following syntax does: 

```mystring[i:j:k]```, ```mystring[-1]```, ```mystring[:i]```, ```mystring[i:]```, ```mystring[:]```, ```mystring[-2]```

In [17]:
mystring[0:10:2] # extract characters from 0 up to but not including 10, in steps of 2

'Teqik'

In [20]:
mystring[-1] # extract the last character

'g'

In [21]:
mystring[:10] # extract characters from the start, up to but not including 10

'The quick '

In [22]:
mystring[10:] # extract characters from position 10 to the end of the string

'brown fox jumped over the lazy dog'

In [23]:
mystring[:] # extract the whole string, from the start to the end

'The quick brown fox jumped over the lazy dog'

In [24]:
mystring[-2] # extract the second from last character

'o'

3. Use the ``len`` function to find the length of the string.

In [25]:
len(mystring)

44

4. The following code will throw an error when you try to run it. Use escape sequences so it prints the following result:

``She said "He's awake."``

In [10]:
print("She said \"He\'s awake.")

She said "He's awake.

---

## <font color='red'> Now you try

1. Given the list below, write code to extract:

    (a) The first element

    (b) The last element

    (c) The substring 'ban' from the last element

    (d) The slice ``['a','d',1,3]`` from the list

    (e) The slice ``['a','e',3]`` from the list
    

2. Append an extra element, 'apples', to the list


3. Replace the first element of the list with the number 5


4. Reverse the order of elements in the list (you might need to Google around a bit to get the solution)


5. Use the ``len`` function to find the length of the list.

In [27]:
mylist = ['a','b','d','e',1,2,3,'124','bananas']

In [28]:
mylist[0]

'a'

In [29]:
mylist[-1]

'bananas'

In [31]:
mylist[-1] [0:3]

'ban'

In [32]:
mylist[0:7:2]

['a', 'd', 1, 3]

In [33]:
mylist[0::3]

['a', 'e', 3]

In [34]:
mylist.append('apples')

In [35]:
mylist

['a', 'b', 'd', 'e', 1, 2, 3, '124', 'bananas', 'apples']

In [36]:
mylist[0]=5
mylist

[5, 'b', 'd', 'e', 1, 2, 3, '124', 'bananas', 'apples']

In [37]:
mylist[::-1]

['apples', 'bananas', '124', 3, 2, 1, 'e', 'd', 'b', 5]

In [38]:
len(mylist)

10

---

In [39]:
people_information_dictionary = {'Alice': {'food':'pizza',
                                           'drink':['coffee','orange juice','tea'],
                                           'age':29},
                               'Bob': {'food':'dim sum',
                                          'drink':'water',
                                          'age': 21},
                               'Sarah': {'food':'lasagna',
                                         'drink': 'green tea',
                                         'age': 22}}

---

## <font color='red'> Now you try
    
Can you retrieve the following from the `people_information_dictionary` defined above?

* Bob's favourite food
* Sarah's age
* Alice's 3rd favourite drink

In [40]:
people_information_dictionary['Bob']['food']

'dim sum'

In [41]:
people_information_dictionary['Sarah']['age']

22

In [42]:
people_information_dictionary['Alice']['drink'][2]

'tea'

Here's a dictionary that contains other dictionaries. Using a combination of keys and (where necessary) list indexing, can you retrieve the following information from `company_info_dictionary`?

* The number of companies in the dataset
* The number of employees at Wiiwork
* MeTube's founder
* The 2nd of Bloogle's founders
* All of Bloogle's office locations
* The first name of Wiiwork's first founder

In [44]:
company_info_dictionary['meta_data']['number_of_companies']

3

In [45]:
company_info_dictionary['company_data'][0]['employees']

230

In [47]:
company_info_dictionary['company_data'][1]['founders'][0]

'Sarah Williams'

In [48]:
company_info_dictionary['company_data'][2]['founders'][1]

'Lee Peterson'

In [49]:
company_info_dictionary['company_data'][0]['founders'][0]

'Andy Newman'

In [43]:
company_info_dictionary = {'meta_data':{'number_of_companies':3,
                                       'data_last_updated':'12/01/2020'},
                           
                          'company_data':[{'name':'Wiiwork',
                                         'employees':230,
                                         'office_locations':['New York'],
                                         'founders':['Andy Newman','Mike MacIntyre']},
                                          
                                          {'name':'MeTube',
                                         'employees':100,
                                         'location':['San Francisco','London'],
                                         'founders':['Sarah Williams']},
                                          
                                          {'name':'Bloogle',
                                         'employees':5001,
                                         'location':['Mountain View','New York','Paris','London'],
                                         'founders':['Steve Brine','Lee Peterson']}                                          
                                          
                                         ]}

---

## <font color='red'> Now you try

1. Import the ``statistics`` library as ``stats`` and the ``numpy`` library as ``np``.


2. Use ``stats.mean()`` and ``stats.median()`` to calculate the mean and median of this list of values: ``[1.5, 2.3, 6.7, 8, 10]``


3. Repeat these calculations using the 'numpy' library and confirm the results are the same.


4. Import the `math` library without giving it a short name, and try out its ``sqrt`` function to calculate the square root of 12

In [50]:
import statistics as stats
import numpy as np

mylist = [1.5, 2.3, 6.7, 8, 10]

print("Numpy mean: ", np.mean(mylist))
print("Stats mean: ", stats.mean(mylist))

print("Numpy median: ", np.median(mylist))
print("Stats median: ", stats.median(mylist))

Numpy mean:  5.7
Stats mean:  5.7
Numpy median:  6.7
Stats median:  6.7

In [52]:
import math

print(math.sqrt(12))

3.4641016151377544

---

## <font color='red'> Now you try

Let's write a function to calculate the final value of an investment that's accruing compound interest.

This is described by the formula:

$$TV = PV(1+r)^n$$

Where

$TV$ is the final value of the investment

$PV$ is the initial investment

$r$ is the interest rate per year 

$n$ is the number of years

1. Write a function that computes the final value of an investment, given the initial investment, interest rate, and number of years.

In [53]:
def compound_interest(PV, r, n):
    
    TV = PV*(1+r)**n
    
    return TV

2. Use your function to compute the final value of a Â£130 investment, assuming an interest rate of 3% over 5 years.

In [55]:
TV = compound_interest(130,0.03,5)
TV

150.705629659

3. Write a function that computes the number of years needed for an investment reach a given multiple of its initial value, also given the interest rate. (**hint: you'll need to rearrange the formula to make $n$ the subject**, and you'll need the ``math`` library)

We start by rearranging the formula:

$$\dfrac{TV}{PV} = (1+r)^n$$

We can redefine $\dfrac{TV}{PV}$ as our 'multiple'; that is, how many times greater the final value of our investment is compared to the initial value.

$$multiple = (1+r)^n$$

We can take logs of both sides to deal with $n$

$$log\:multiple = nlog(1+r)$$

We can rearrange some more to make $n$ the subject:

$$n=\dfrac{log\:multiple}{log(1+r)}$$

Now we have our formula for the number of years needed for an investment to reach a given multiple of its initial value, we can code it up in Python:

In [56]:
import math

def get_years(multiple,r):
    
    n = math.log(multiple)/math.log(1+r)
    
    return n

4. Use your function to work out how many years are needed for an investment to double in value, assuming an interest rate of 0.01%

In [57]:
n = get_years(2,0.01)
n

69.66071689357483

---

## <font color='red'> Now you try

Predict what the outcomes of these logical tests will be, then run the cells to check your predictions.

In [58]:
(6 <= 6) and (5 < 3)

# True and False -> False

False

In [59]:
3 < 2 or 45 % 3 == 15

# False or False -> False

False

In [61]:
60 - 45 / 5 + 10 == 1

False

In [62]:
(6 <= 6) or (5 < 3)

# True or False -> True

True

In [63]:
(5 < 3) and (6 <= 6) or (5 != 6)

# (False and True) or True -> True

True

In [65]:
not((5 < 3) and ((6 <= 6) or (5 != 6)))

# False and (True or True) -> False
# not False -> True

True

---

## <font color='red'> Now you try
    
Write a function called ``odd_or_even``. It should take a single integer as an input.

If the integer is even, the output of the function should be the string "even!" and if the integer is odd, the output should be "odd!"

To do this, you will need to use the ``%`` operator.

In [69]:
def odd_or_even(number):
    
    if number%2==0:
        print('even!')
    else:
        print('odd!')

In [70]:
odd_or_even(1)

odd!

In [71]:
odd_or_even(4)

even!

---
## <font color='red'> Now you try

Use a ``for`` loop together with the ``range`` function to print all the whole numbers from 1 to 100. 

But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". 

For numbers which are multiples of both three and five print "FizzBuzz".

**For context**: The ``fizzbuzz`` question is well known as an exercise used in programming interviews. It was devised by Imran Ghory, and popularised by Jeff Atwood: 

https://imranontech.com/2007/01/24/using-fizzbuzz-to-find-developers-who-grok-coding/ 

---

In [72]:
for i in range(1,101):
    
    if (i%3==0) and (i%5==0):
        print('fizzbuzz')
    elif (i%5==0):
        print('buzz')
    elif (i%3==0):
        print('fizz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

---
## <font color='red'> Now you try

Let's go back to our compound interest formula:

$$TV = PV(1+r)^n$$

Where

$TV$ is the final value of the investment

$PV$ is the initial investment

$r$ is the interest rate per year 

$n$ is the number of years

Suppose we'd like to know for how many years we have to keep 100 pounds on a savings account to reach 200 pounds simply due to annual payment of interest at a rate of 5%. Write code using a ``while`` loop to show that this will take 15 years.

---

In [84]:
PV = 100
TV = 100
n = 1
r = 0.05

while(TV<200):

    TV = PV*(1+r)**n
    print("after ",str(n)," years the value of the investment will be ", str(TV))
    n = n+1

after  1  years the value of the investment will be  105.0
after  2  years the value of the investment will be  110.25
after  3  years the value of the investment will be  115.76250000000002
after  4  years the value of the investment will be  121.55062500000003
after  5  years the value of the investment will be  127.62815625000003
after  6  years the value of the investment will be  134.00956406250003
after  7  years the value of the investment will be  140.71004226562505
after  8  years the value of the investment will be  147.7455443789063
after  9  years the value of the investment will be  155.13282159785163
after  10  years the value of the investment will be  162.8894626777442
after  11  years the value of the investment will be  171.0339358116314
after  12  years the value of the investment will be  179.585632602213
after  13  years the value of the investment will be  188.56491423232367
after  14  years the value of the investment will be  197.99315994393987
after  15  years the value of the investment will be  207.89281794113688