# DS37-01-01: Python Fundamentals I Solutions
---

## <font color='red'> Now you try

Take a look at the Python commands below. For each command, **before you run the cell** discuss with someone sitting next to you:

* What the input to the command is
* What the output will look like 
* What the command is doing

The clue is often in the name of the command; don't overthink this exercise!

**It's always helpful to think of Python commands as having an input and an output; this helps us understand what's going on**

Converts the string to lowercase

In [ ]:
'CAPS LOCK MAKES IT SEEM LIKE IM SHOUTING'.lower()

Finds the maximum value in the list

In [ ]:
max([3,5,2,8])

---

## <font color='red'> Now you try

Insert new cells into this notebook to complete each of the following exercises.

1. Evaluate the following expressions: 
    
    (a) 7-15
    
    (b) $3^7+16/3$


2. The following lines of code will result in error messages when you try to run them. Fix the code so it runs without errors:

In [1]:
7-15

-8

In [2]:
(3**7)+(16/3)

2192.3333333333335

Need to use consistent double or single quotes. Either of these solutions will work:

In [3]:
print('hello world!')

hello world!

In [4]:
print("hello world!")

hello world!

Can't add an integer to a string. Either of these solutions will work:

In [5]:
5 + 3

8

In [6]:
5+int('3')

8

Need to add brackets.

In [7]:
print("hello?")

hello?

---

## <font color='red'> Now you try

Use your Google and Stackoverflow skills to figure out how to retrieve, **or index, the last element in this list**

In [8]:
['the','quick','brown','fox','jumped','over','the','lazy','dog'][-1]

'dog'

Now figure out how to **index the first element in the same list**

In [9]:
['the','quick','brown','fox','jumped','over','the','lazy','dog'][0]

'the'

---

## <font color='red'> Now you try

Let's practise using variables. Write Python code to do the following:

* Create a variable called `current_year` and assign it the value 2020.
* Create another variable called `my_year_of_birth` and assign it the value of the year you were born.
* Create a third variable called `my_approx_age` by performing a calculation with the first two variables.

---

In [11]:
current_year = 2020
my_year_of_birth = 1910
my_approx_age = current_year-my_year_of_birth

print(my_approx_age)

110

---

## <font color='red'> Now you try

1. Given the string "The quick brown fox jumped over the lazy dog", write code to extract:

    (a) The following substring: "The quick brown fo"
    
    (b) The first character only
    
    (c) The last character only*
    
    (d) The substring "over the lazy dog"
    
    \*You can do this in two ways: try to find both!
    
    
2. Figure out what the following syntax does: 

```mystring[i:j:k]```, ```mystring[-1]```, ```mystring[:i]```, ```mystring[i:]```, ```mystring[:]```, ```mystring[-2]```

---

In [14]:
my_string = 'The quick brown fox jumped over the lazy dog'

# (a)
my_string[0:18]

'The quick brown fo'

In [16]:
# (b)
my_string[0]

'T'

In [17]:
# (c)
my_string[-1]

'g'

In [20]:
# (d)
my_string[27:-1] # my_string[27:] would also work

'over the lazy dog'

---

## <font color='red'> Now you try

Given the list below, write code to extract:

(a) The first element

(b) The last element

(c) The substring 'ban' from the last element

Append an extra element, 'apples', to the list

Remove the first element of the list

Reverse the order of elements in the list (you might need to Google around a bit to get the solution)

In [21]:
mylist = ['a','b','d','e',1,2,3,'124','bananas']

In [22]:
mylist[0]

'a'

In [23]:
mylist[-1]

'bananas'

In [25]:
mylist[-1][0:3]

'ban'

In [26]:
mylist.append('apples')
mylist

['a', 'b', 'd', 'e', 1, 2, 3, '124', 'bananas', 'apples']

In [27]:
del mylist[0]
mylist

['b', 'd', 'e', 1, 2, 3, '124', 'bananas', 'apples']

In [28]:
mylist[::-1]

['apples', 'bananas', '124', 3, 2, 1, 'e', 'd', 'b']

---

## <font color='red'> Now you try
    
Can you retrieve the following from the `class_information_dictionary` defined below?

* Bob's favourite food
* Sarah's age
* Maryam's 3rd favourite drink

In [35]:
class_information_dictionary = {'Maryam': {'food':'pizza',
                                           'drink':['coffee','orange juice','tea'],
                                           'age':29},
                               'Bob': {'food':'dim sum',
                                          'drink':'water',
                                          'age': 21},
                               'Sarah': {'food':'lasagna',
                                         'drink': 'green tea',
                                         'age': 22}}

In [30]:
class_information_dictionary['Bob']['food']

'dim sum'

In [31]:
class_information_dictionary['Sarah']['age']

22

In [32]:
class_information_dictionary['Maryam']['drink'][2]

'tea'

Here's a dictionary that contains other dictionaries. Using a combination of keys and (where necessary) list indexing, can you retrieve the following information from `company_info_dictionary`?

* The number of companies in the dataset
* The number of employees at Wiiwork
* MeTube's founder
* The 2nd of Bloogle's founders
* All of Bloogle's office locations
* The first name of Wiiwork's first founder

In [36]:
company_info_dictionary['meta_data']['number_of_companies']

3

In [37]:
company_info_dictionary['company_data'][0]['employees']

230

In [39]:
company_info_dictionary['company_data'][1]['founders'][0]

'Sarah Williams'

In [40]:
company_info_dictionary['company_data'][2]['founders'][1]

'Lee Peterson'

In [41]:
company_info_dictionary['company_data'][2]['location']

['Mountain View', 'New York', 'Paris', 'London']

In [43]:
company_info_dictionary['company_data'][0]['founders'][0]

'Andy Newman'

In [33]:
company_info_dictionary = {'meta_data':{'number_of_companies':3,
                                       'data_last_updated':'12/01/2020'},
                           
                          'company_data':[{'name':'Wiiwork',
                                         'employees':230,
                                         'office_locations':['New York'],
                                         'founders':['Andy Newman','Mike MacIntyre']},
                                          
                                          {'name':'MeTube',
                                         'employees':100,
                                         'location':['San Francisco','London'],
                                         'founders':['Sarah Williams']},
                                          
                                          {'name':'Bloogle',
                                         'employees':5001,
                                         'location':['Mountain View','New York','Paris','London'],
                                         'founders':['Steve Brine','Lee Peterson']}                                          
                                          
                                         ]}

---

## <font color='red'> Now you try

1. Import the 'statistics' library as 'stats' and the 'numpy' library as 'np'.

2. Use ``stats.mean()`` and ``stats.median()`` to calculate the mean and median of this list of values: ``[1.5, 2.3, 6.7, 8, 10]``

3. Repeat these calculations using the 'numpy' library and confirm the results are the same.

In [6]:
import numpy as np
import statistics as stats

my_list = [1.5, 2.3, 6.7, 8, 10]

print(stats.mean(my_list))
print(np.mean(my_list))

5.7
5.7

In [7]:
print(stats.median(my_list))
print(np.median(my_list))

6.7
6.7

---